div
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="view")
        .pdl-cell(data-name="legend")
      div(data-type="render")
    div(data-name="tip") #[div(ld="name")]#[div(ld="value1")]#[div(ld="value2")]
  style(type="text/css"): :stylus
    /*.pdl-cell { width: 100%; height: 100% }*/
    .pdl-layout > div[data-type=layout]
      display: grid
      grid-template-columns: 1fr fit-content(10em)
      & > .pdl-cell[data-name=view]
        grid-area: 1 / 1
      & > .pdl-cell[data-name=legend]
        grid-column: 2
        grid-row: 1
        padding: 0 .5em 0 .5em

    .pdl-layout.legend-below > div[data-type=layout]
      grid-template-columns: 1fr
      grid-template-rows: 1fr fit-content(2em)
      .pdl-cell[data-name=legend]
        padding-top: 1em
        grid-column: 1
        grid-row: 2


    [data-name=tip]
      padding: .4em .5em
      background: #13171a
      color: #fff
      border-radius: 3px
      box-shadow: 0 2px 4px rgba(0,0,0,.3)
      line-height: 1.2em
      font-size: .9em
      max-width: 10em
      word-break: break-all
      [ld=name]
        font-size: .85em
      [ld=value1], [ld=value2]
        font-weight: bold
        font-size: 1.1em
        line-height: 1.2em



  script(type="@plotdb/block"): include:lsc index.ls
